<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Hello World </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <label for="nome">Digite o seu nome: </label>
    <input id="nome" type="text" [(ngModel)]="nome"
      />
  </div>
  <div class="ion-padding">
    <button type="button" (click)="clickNome()">OK</button>
    <button type="button" (click)="limpar()">Limpar</button>
  </div>
  <p class="ion-padding">
    {{mensagem}}
  </p>
</ion-content>
